.surahs {
    
    &__content {
        margin-top: 30px;

        &-cards {
            display: grid;
            gap: 12px;
        }
    }

    &__up {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: var(--secondary-color);
        display: grid;
        place-items: center;
        position: sticky;
        left: 85%;
        bottom: 5%;
        transition: 0.2s;

        &:hover {
            background: var(--primary-color);
        }

        @media (max-width: 1024px) {
            margin: 10px;
        }
    }
}