.intro {
    padding-top: 60px;

    .container {
        display: grid;
        gap: 16px;
    }

    &__title {
        text-align: center;
        text-wrap: balance;
    }

    &__subtitle {
        text-align: center;
        font-size: clamp(18px, 2vw, 20px);
        text-wrap: balance;
    }

    .title {
        text-align: center;
        font-size: clamp(24px, 5vw, 60px);
    }

    &__ayah {
        font-weight: 500;
        font-style: italic;
        text-align: center;
        text-wrap: balance;
        font-size: 20px;
        display: grid;
        place-items: center;
        padding: 16px;
        background: var(--primary-color);
        border-radius: var(--radius-4);

        &-number {
            font-size: 16px;
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}