.intro {
    

    .container {
        display: grid;
        gap: 16px;
    }

    &__title {
        text-align: center;
        text-wrap: balance;
    }

    &__subtitle {
        text-align: center;
        font-size: clamp(18px, 2vw, 20px);
        text-wrap: balance;
    }

    .title {
        text-align: center;
        font-size: clamp(36px, 5vw, 60px);
    }
}