.surah {
    &__content {
        &-title {
            text-align: center;
        }

        &-subtitle {
            text-align: center;
        }

        &-cards {
            display: grid;
            gap: 24px;
            margin-top: 30px;
        }

        &-audio-full {
            display: block;
            margin: 20px auto 0;
        }
    }

    .select-translation {
        position: sticky;
        bottom: 20px;
        margin-top: 20px;
    }
}
