.juzs {
    
    &__content {
        margin-top: 30px;
        
        &-cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 30px;
        }
        
        &-link {
            font-weight: 700;
            font-size: 20px;
            color: var(--secondary-color);
            text-align: center;
            background: #fff;
            transition: 0.4s;
            padding: 4px 0;
            
            &:hover {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
            }
        }
    }
}