.ayah {
    

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
            margin-top: 16px;

            @media (max-width: 736px) {
                text-align: center;
                justify-content: center;
            }
        }

        &-name {
            font-size: 20px;
            font-weight: 500;

            span {
                font-size: 16px;
            }
        }

        &-cards {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;

        &-input {
            width: min(300px, 100%) !important;
            font-size: 18px !important;
            flex-grow: 1;
        }

        &-btn {
            background: var(--primary-color);
            color: #fff;
            border: none;
            text-transform: uppercase;
            border-radius: var(--radius-4);
            padding: 10px;
            cursor: pointer;
            font-size: 16px;
            flex-grow: 1;
        }
    }
}