.nav {
    padding: 20px 0;
    background: var(--secondary-color);
    position: relative;

    &__container {
        width: min(1200px, 100%);
        margin: 0 auto;
        padding: 0 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }

    &__logo {
        color: #fff;
        font-size: 32px;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;

        @media (max-width: 850px) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 100;
            background: var(--secondary-color);
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            padding-bottom: 30px;
            transform-origin: top;
            transform: scaleY(0);
            transition: transform 0.4s;

            &.active {
                transform: scaleY(1);
            }
        }

        &-list {
            display: flex;
            gap: 30px;

            @media (max-width: 850px) {
                flex-direction: column;
                align-items: center;
            }
        }


        &-link {
            color: #fff;

            &.router-link-exact-active {
                color: var(--primary-color);
            }
        }

        .el-input__wrapper.is-focus {
            box-shadow: 0 0 0 1.5px var(--primary-color);
        }

        &-input {
            font-size: 16px !important;
        }
    }

    &__burger {
        display: none;

        @media (max-width: 850px) {
            position: relative;
            width: 50px;
            height: 50px;
            display: grid;
            place-items: center;
    
            &-line {
                width: 100%;
                height: 2px;
                background: #fff;
                position: relative;
    
                &::before, &::after {
                    content: "";
                    position: absolute;
                    background: #fff;
                    width: 100%;
                    height: 100%;
                }
    
                &::before {
                    top: -10px;
                }
    
                &::after {
                    top: 10px;
                }
            }
        }
    }
}