@import "fonts.scss";
@import "root.scss";
@import "common.scss";

// layouts
@import "@/layouts/header/header.scss";
@import "@/layouts/footer/footer.scss";
// layouts

// components
@import "@/components/navbar/navbar.scss";
@import "@/components/UI/select/select.scss";
@import "@/components/card/ayah/ayah.scss";
@import "@/components/card/surah/surah.scss";
// components

// views
@import "@/views/introView/introView.scss";
@import "@/views/ayahView/ayahView.scss";
@import "@/views/surahsView/surahsView.scss";
@import "@/views/surahView/surahView.scss";
@import "@/views/juzsView/juzsView.scss";
@import "@/views/juzView/juzView.scss";
@import "@/views/sajdasView/sajdasView.scss";
// views