:root {
    // colors
    --primary-color: #42b883;
    --secondary-color: #222;
    --el-color-primary: var(--primary-color) !important;
    // colors

    // fonts 
    --primary-font: "DM_sans";
    --secondary-font: "Noto Naskh Arabic";
    // fonts

    // rounded
    --radius-4: 4px;
    // rounded
}
